<header class="section header">
    <div class="container">
            <div class="header-meta">
                <div class="header-settings">
                    <button class="header-settings-button">
                        <span>UA</span>
                        <span class="text-slash">/</span>
                        <span>₴</span>
                        <svg width="8" height="5">
                            <use href="./images/symbol-defs.svg#icon-arrow-down"></use>
                        </svg>
                        <svg width="8" height="5" class="is-hidden">
                            <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
                        </svg>
                    </button>
                    <div class="headers-settings-menu is-hidden">
                        <ul class="header-leangue-list">
                            <li class="active">Українська (UA)</li>
                            <li>English (EN)</li>
                        </ul>
                        <ul class="header-currency-list">
                            <li class="active">$</li>
                            <li>€</li>
                            <li>₴</li>
                        </ul>
                    </div>
                </div>
                <nav class="header-nav">
                    <a href="">Накопичувальний рахунок</a>
                    <a href="">Відгуки</a>
                    <a href="">Гарантії</a>
                    <a href="">Як купити</a>
                    <a href="">Накопичувальна</a>
                    <a href="">Заробляй</a>
                </nav>
                <div class="header-user">
                    <p>Hanzed Rules</p>
                    <img src="./images/user img.png" alt="">
                </div>
            </div>
            <div class="header-main">
                <div class="header-logo">
                    <img src="./images/logo.png" alt="">
                    <span>Playnchill</span>
                </div>
                <button class="header-menu-button">
                    <svg>
                        <use href="./images/symbol-defs.svg#icon-menu"></use>
                    </svg>
                </button>
                <form action="" class="header-form">
                    <input type="text" placeholder="Пошук" class="header-input">
                    <svg class="header-search-icon">
                        <use href="./images/symbol-defs.svg#icon-search"></use>
                    </svg>
                </form>
                <a href="" class="header-link-free">Безкоштовно</a>
                <ul class="header-buttons">
                    <li>
                        <a href="">
                            <svg class="header-icon-heart">
                                <use href="./images/symbol-defs.svg#icon-heart"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg class="header-icon-bucket">
                                <use href="./images/symbol-defs.svg#icon-bucket"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
    </div>
</header>