$mainTextColor: #9D9AA6;
$primaryTextColor: #FFFFFF;
$mainFontFamily: Sans;
$primaryFontFamily: Roboto;

$mainBackgroundColor: #000000;
$secondaryBackgroundColor: #FFFFFF;

$buttonMainColor: #77BE1D;
$buttonPrimaryColor: rgba(255, 255, 255, 0.05);
$buttonHoverColor: blue;
$buttonPrimaryHoverColor: #FFFFFF;

$mainHeadlineSizeDesktop: 32px;
$sectionHeadlineSizeDesktop: 24px;
$mainTextSizeDesktop: 18px;
$primaryTextSizeDesktop: 16px;

$mainHeadlineSizeTablet: 24px;
$sectionHeadlineSizeTablet: 18px;
$mainTextSizeTablet: 18px;
$primaryTextSizeTablet: 16px;

$mainHeadlineSizeMobile: 22px;
$sectionHeadlineSizeMobile: 16px;
$mainTextSizeMobile: 14px;
$primaryTextSizeMobile: 12px;